<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>


<h1>Select Your Client Type</h1>
<form action="{{ url_for('dealer') }}" method="get">
    <button type="submit" id="b1">Dealer</button>      
</form>

<form action="{{ url_for('customer') }}" method="get">
    <button type="submit" id="b2">Customer</button>      
</form>

<form action="{{ url_for('sales') }}" method="get">
    <button type="submit" id="b3">Sales</button>      
</form>
