<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Car Dealer GUI</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
  <script src="https://unpkg.com/htmx.org@1.9.4"></script>
</head>

<h1 class="title">Welcome To The Vehicle Locator Service!</h1>
<body>
  <form class="example" method="post" action="">
    <div class="columns">
      <div class="column is-one-third is-offset-one-third">
        <input type="text" placeholder="Search by Model or Brand to See Inventory Options"  id="searchBar" name="q">
      </div>
      <button type="submit" id="search" value="Submit" >Submit<i class="fa fa-search"></i>
      </button>
    </div>
  </form>
    
  <body id="results">
    <table class="table is-fullwidth" id="titles">  
      <thead>
        <tr>
          <th>Model</th>
          <th>Brand</th>
          <th>Color</th>
          <th>VIN</th>
          <th>Status</th>
          <th>Dealership</th>
          <th>Address</th>
          <th>City</th>
          <th>State</th>

        </tr>
      </thead>
      <tr>
        {% for item in data %}
            <tr>
              <td>{{item[0]}}</td>
              <td>{{item[1]}}</td>
              <td>{{item[2]}}</td>
              <td>{{item[3]}}</td>
              <td>{{item[4]}}</td>
              <td>{{item[5]}}</td>
              <td>{{item[6]}}</td>
              <td>{{item[7]}}</td>
              <td>{{item[8]}}</td>
            </tr>
      {% endfor %}
      </tr>
    </table>
  </body>
</body>

</html>